.quizz__container {
  width: 80%;
  margin: auto;
  margin-top: 20px;
}

.quizz_logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.quizz_logo > h3 {
  margin-top: 1rem;
}

.quizz_questions {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #4224d9;
  border-radius: 8px;
  background-color: #644ed2;
  width: 100%;
  height: 2.5rem;
  font-size: 20px;
  margin-bottom: 0.75rem;
}

.quizz_questions > h3 {
  text-align: center;
}

.quizz_options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  margin-bottom: 20px;
  gap: 0.5rem;
}

.btn-option {
  background-color: transparent;
  border-radius: 8px;
  border: 1px outset #0e067c;
  width: 49%;
  display: inline-block;
  cursor: pointer;
  color: #cccaca;
  font-size: 17px;
  padding: 16px 31px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;
  background-color: #170b3a;
  transition: background-color 0.8s ease;
}

.btn-option:hover {
  background-color: #371da8;
}

.btn-option:active {
  position: relative;
  top: 1px;
}

.quizz_results {
  width: 100%;
  background-color: #1f0539;
  border-radius: 10px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.quizz_results > img {
  width: 99%;
  max-height: 500px;
  border-radius: 6px;
}

.align-button {
  display: flex;
  justify-content: center;
  width: 100%;
}

.restart-button {
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 6px;
  background-color: #170b3a;
  transition: background-color 0.8s ease;
}

.restart-button:hover {
  cursor: pointer;
  background-color: #371da8;
}

.quizz_image {
  display: flex;
  justify-content: center;
  margin-bottom: 0.25rem;
}

.quizz_image > img {
  width: 99%;
  max-height: 550px;
  border-radius: 6px;
}
